{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock %}

{% block content %}
<!-- Slider Section -->
<section class="slider-section">
    <div class="container">
        <div class="owl-carousel header-slider">
            {% for slider in sliders %}
            <div class="item-slider">
                <img src="{{ slider.image.url }}" class="img-fluid" alt="{{ slider.title }}" loading="lazy">
                <div class="slider-content">
                    <h2>{{ slider.title }}</h2>
                    {{ slider.description|safe }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Yangiliklar Section -->
<section class="section section-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="black-title d-flex flex-wrap justify-content-between align-items-center mt-30 mb-3">
                    <span>So'nggi yangiliklar</span>
                    <a href="{% url 'news' %}" class="btn-more">Barchasi</a>
                </div>
            </div>
            {% for news in latest_news %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-imga" src="{{ news.image.url }}" alt="{{ news.title }}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="n-date d-flex align-items-center time">
                                <img src="{% static 'theme/clock-news.svg' %}"/>
                                <span>{{ news.created_at|date:"d.m.Y" }}</span>
                            </div>
                            <div class="views">
                                <i class="icofont-eye"></i> {{ news.views }}
                            </div>
                        </div>
                        <h6 class="card-title">{{ news.title }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Announcements Section -->
<section class="section section-news">
    <!-- E'lonlar section kodlari -->
</section>

<!-- Statistics Section -->
<section class="section section-statis">
    <!-- Statistika section kodlari -->
</section>

<!-- Kitoblar Section -->
<section class="section section-news-lib">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="black-title d-flex flex-wrap justify-content-between align-items-center mb-3">
                    <span>Yangi kitoblar</span>
                    <a href="{% url 'library' %}" class="btn-more">Barchasi</a>
                </div>
            </div>
            {% for book in latest_books %}
            <div class="col-md-2 mb-4">
                <div class="card h-100">
                    <img class="card-imga" src="{{ book.image.url }}" alt="{{ book.title }}" loading="lazy">
                    <div class="card-body">
                        <h6>{{ book.title }}</h6>
                        <p class="author-book">{{ book.author }}</p>
                        <a href="{% url 'book_detail' book.id %}" class="btn-library">Batafsil</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
